* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
}

.navbar {
	background-color: #FFFFFF;
	box-shadow: 0 4px 16px rgba(0, 0, 0, .15);
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.navbar-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
}

.logo {
	height: 60px;
}

.navbar-menu {
	display: flex;
	gap: 32px;
}

.navbar-menu-item {
	font-size: 14px;
	color: #333333;
	font-weight: 600;
	text-decoration: none;
}

.navbar-menu-item.active {
	color: #45D5B4;
}

.search-box {
	display: flex;
	align-items: center;
	border: 1px solid #BEBEBE;
	flex: 1;
	height: 32px;
	border-radius: 8px;
	overflow: hidden;
	padding-left: 12px;
}

.search {
	border: none;
	width: 100%;
	height: 100%;
	color: #333333;
	padding: 8px 12px;
	outline: 0;
}

.search-icon {
	width: 20px;
	height: 20px;
}
