* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 100px;
	font-family: 'Roboto', sans-serif;
	background-color: #E0E0E0;
}

/* Font: https://fonts.google.com/ */
/* 1. Sans-serif */
/* 2. serif */
/* 3. Mono */

.button {
	/* button style rest */
	font-family: 'Roboto';
	padding: 0;
	margin: 0;
	background: none;
	outline: 0;
	border: none;
	text-decoration: none;

	display: inline-flex;
	font-size: 16px;
	background-color: #068932;
	color: #FFFFFF;
	padding: 8px 16px;
	border-radius: 8px;
	cursor: pointer;
	transition: all 300ms ease;
	border: 1px solid transparent;
}

.button:hover {
	background-color: #A0A967;
}

/* is-white class to make button in white color */
.button.is-white {
	background-color: #FFFFFF;
	color: #333333;
}

/* is-black class to make button in white color */
.button.is-black {
	background-color: #121212;
	color: #F0F0F0;
}

.button.is-outlined {
	background-color: transparent;
	color: #068932;
	border: 1px solid #068932;
}

.button.is-black.is-outlined {
	background-color: transparent;
	color: #121212;
	border: 1px solid #121212;
}